/* nav */
ul{
  display: flex;
  justify-content: space-around;  
}
nav ul li {
    list-style: none;
    text-decoration: none;
    text-align: center;

}
/* Common style */
.btn-p{
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
}
.g2{
    color: gray;
}
.g3{
    color: rgb(62, 58, 58);
}
/* banner */
#banner{
    margin: 5px;
    box-shadow: inset;
}
.banner{
    padding: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
}
/* banner content */
.ban-con{
    padding: 5px 20px;
    /* width: 100px; */
    text-align: center;
    margin:5px 100px;
}
/* banner image */
.ban-img{
    margin: auto;
    margin-top: 10px;
}
/* banner button */
.btn-s{
    color: white;
    background-color: rgb(1, 1, 15);
}
.ban-btn{
    margin: auto;
    border-radius: 2px;
}
/* development section */
#development{
    padding: auto;
    margin: 10px ;
    background-color: aliceblue;
}
/* development content */
.dev-1 h3{
    padding-top: 20px;
    margin-top: 10px;
    text-align: center;

}
.dev-1{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.d1{
    text-align: center;
}

/* dev-2  */
.dev-2{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.dev-2-con{
    max-width: 250px;
    display: flex;
    flex-direction: column;
}
/* simple */
.simple h3{
    text-align: center;
}
.simple{
    margin: 5px 30px 10px 30px;
}
.ds{
    /* max-width: 300px; */
    text-align: center;
    /* margin: auto; */
}
/* video */
.container{
    margin: 20px 50px 10px 50px;
}
/* Target */
.target{
    margin: 10px 50px 10px 50px;
    justify-content: space-evenly;
    display: flex;
}
.target img{
    height: 30px;
}
.tar1 {
    background-color: beige;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    margin: 2px 5px 5px 5px;
    /* border:  solid; */
}
.tar2 {
    background-color: azure;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    margin: 2px 5px 5px 5px;
    /* border:  solid; */
}
.tar3 {
    background-color: bisque;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    margin: 2px 5px 5px 5px;
    
}
/* next target */
.nt1{
    margin: 10px 20px 20px 10px;
    padding: 20px;
    border-radius: 5px ;
    border: 1px solid gray;
    justify-content: space-between;
    display: flex;
}
.nt2{
    margin: 10px 20px 20px 10px;
    padding: 20px;
    border-radius: 5px ;
    border: 1px solid gray;
    justify-content: space-between;
    display: flex;
}
.ntc{
    margin: 0px 2px 5px 10px;
}
.nt3{
    margin: 10px 20px 20px 10px;
    padding: 20px;
    border-radius: 5px ;
    border: 1px solid gray;
    justify-content: space-between;
    display: flex;
}
.next-target img{
    height: 50px;

}
/* full section */
#full{
    /* border: 1px solid; */
    margin: 20px 100px 20px 100px;
}