/* nav */
ul{
  display: flex;
  justify-content: space-around;  
}
nav ul li {
    list-style: none;
    text-decoration: none;
    text-align: center;

}
/* Common style */
.btn-p{
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
}